@page "/tasks"
@using TaskTracker.Core.Models
@using TaskTracker.Core.Services
@inject ITrackingTaskService TaskService

<PageTitle>Tasks</PageTitle>

<h1>Tasks</h1>

@if (tasks is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th />
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in tasks)
            {
                var taskId = task.Id;

                <tr>
                    <td><input type="checkbox" checked="@task.IsCompleted" @onchange="e => OnTaskCompleted(taskId, e)"></td>
                    <td>@task.Title</td>
                    <td>@CutDescription(task.Description)</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

} 

@code {
    private IReadOnlyCollection<TrackingTask>? tasks;

    protected override Task OnInitializedAsync()
    {
        tasks = TaskService.GetAll();
        return Task.CompletedTask;
    }

    private void OnTaskCompleted(int taskId, ChangeEventArgs e)
    {
        var task = tasks?.FirstOrDefault(t => t.Id == taskId);

        if (task is null)
            return;

        task.IsCompleted = e.Value as bool? ?? false;
        task.CompletedAt = DateTime.UtcNow;
        
        TaskService.Update(task);
    }

    private string CutDescription(string? description)
    {
        if (description?.Length > 50)
        {
            return description.Substring(0, 50) + "...";
        }

        return description ?? string.Empty;
    }
}